
.bottom-nav-bar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 96%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background: #111;
    z-index: 10;
    border-width: 10px;
    border-style: ridge;
    border-color: #555;
}

.bottom-nav-bar ul {
    width: 100%;
    display: flex;
    padding-left: 20px;
    padding-right: 4px;
    padding-bottom: 4px;
}

.bottom-nav-bar ul li {
    list-style-type: none;
    /* margin: 0px 0px; */ 
    width: 100%;
}

.bottom-nav-bar ul li .tooltip {
    display: none;
}

.bottom-nav-bar i {
    font-size: 200%;;
}
