/* CSS Style */

#top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 75px;
  background: #3D3846;
  width: 100vw;
  padding-left: 0.5em;
  padding-top: 0.5em;
  z-index: 999;

}

#search-bar-input {
  height: 2em;
  background: #241F31;
  color: white;
  padding-left: 2.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  font-size: 1.3em;
  width: 20em;

}

#search-explore {
  display:grid ;
  grid-gap:1em;
  margin: 0.5em;

}

#phoenix-name {
  color:white;
  font-size: 2em;
  font-family: monospace;
  text-align: center;
  padding-left: 1.2em;
}

#search-bar-search-icon {
  position: relative;
  top: 1em;
  left: 1.7em;
  font-size: 1.3em;
  color: #777777;
}

input::placeholder {
  color: #ccc;
  font-style: italic;
}

@media (max-width: 576px) {

  #top-bar {
    padding-left: 0em;
  }

  #search-explore {
    grid-template-columns: 1fr;
  }

  #search-bar-input {
    width: 14em;
  }

  #phoenix-name {
    display:none
    /* font-size: 1.7em; */
    /* padding-left: 0.4em; */
  }
}


@media (min-width: 576px) and (max-width: 1000px) {
  #search-explore {
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 1000px) {
  #search-explore {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
